<!-- TODO: FORMDATA -> CONSOLE.LOG + CHECK BUTTON TOGGLE + STYLE SWAP -> ON CLICK -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
    <style>
        .red {
            background: red;
        }

        .green {
            background: green;
        }

        .blue {
            background: blue;
        }
    </style>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="handleForm">
            <label>Name</label>
            <input type="text" v-model="formData.name" />
            <hr />

            <label>Surname</label>
            <input type="text" v-model="formData.surname" />
            <hr />

            <label>Age</label>
            <input v-model.number="formData.age" />
            <hr />

            <label>Awake</label>
            <input type="checkbox" v-model="formData.awake" />
            <h1>{{formData.awake}}</h1>
            <hr />

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
<script>
    const { createApp, ref } = Vue;

    createApp({
        setup() {
            let formData = ref({
                name: '',
                surname: '',
                age: '',
                awake: false
            });

            function handleForm() {
                console.log(formData.value);
            }

            return { formData, handleForm };
        }
    }
    ).mount('#app');
</script>

</html>